NTFY_TOPIC=your-ntfy-topic
DB_PATH=/data/monitor.db
MONITOR_BOOKERO=false
MONITOR_GHIBLI=false
# GHIBLI_TARGET_MONTH=May
# GHIBLI_TARGET_YEAR=2026
MONITOR_SPORTIVO=false
# NTFY_DEBUG_TOPIC=your-debug-topic
# DEBUG_MODE=false
